<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form th:action="@{/admin/add/fridge}" method="post" style="display: block">
                <div class="row">
                    <div class="col-md-12 col-md-offset-3">
                    <h1>Add fridge</h1>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div class="form-group">
                    <label for="name" style="display: block">Name</label>
                    <input type="text" style="display: block" id="name" name="name" autofocus="autofocus"
                           class="form-control" required/>
                </div>
                <div class="form-group">
                    <label for="type">Type</label>
                    <input type="text" class="form-control" id="type" name="type" required/>
                </div>
                <div class="form-group">
                    <label for="high">High</label>
                    <input type="text" id="high" class="form-control" name="high" pattern="\d+\.\d+"/>
                </div>
                <div class="form-group">
                    <label for="width">Width</label>
                    <input type="text" id="width" name="width" class="form-control" pattern="\d+\.\d+"/>
                </div>
                <div class="form-group">
                    <label for="maxCameras">Max cameras</label>
                    <input type="number" id="maxCameras" class="form-control" name="maxCameras"/>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" id="price" name="price" class="form-control" pattern="\d+\.\d+"/>
                </div>
                <br/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-2">
                            <input type="submit"
                                   class="btn btn-primary btn-secondary"
                                   value="Add fridge" style="width: 150%">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>