<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="col-md-7 col-md-offset-2">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <form th:action="@{/user/add/fridge}" method="get">
                    <button type="submit" class="btn btn-primary btn-secondary">Add fridge</button>
                </form>
            </div>
            <div class="btn-group" style="margin-left: 4%">
                <form th:action="@{''}" method="get">
                    <button type="button" class="btn btn-primary btn-secondary">Update fridge</button>
                </form>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>High</th>
            <th>Width</th>
            <th>Max cameras</th>
            <th>Set upped cameras</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userFridge : ${fridges}">
            <td th:text="${userFridge.fridge.name}"></td>
            <td th:text="${userFridge.fridge.type}"></td>
            <td th:text="${userFridge.fridge.high}"></td>
            <td th:text="${userFridge.fridge.width}"></td>
            <td th:text="${userFridge.fridge.maxCameras}"></td>
            <td th:text="${userFridge.cameras.size()}"></td>
            <td style="width: 30%;">
                    <div class="col-md-0 col-md-offset-0">
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <form th:action="@{/user/delete/fridge}" method="post">
                                    <button name="id" th:value="${userFridge.id}" class="btn btn-primary">Delete</button>
                                </form>
                            </div>

                            <div class="btn-group" style="width: 0.1%">

                            </div>

                            <div class="btn-group">
                                <form th:action="@{/user/get/fridge}" method="post">
                                    <button name="id" class="btn btn-primary" th:value="${userFridge.id}">Cameras
                                    </button>
                                </form>
                            </div>
                        </div>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>